@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        var roles = await UserManager.GetRolesAsync(currentUser);

        <!-- Xin chào -->
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark"
               asp-area="Identity" asp-page="/Account/Manage/Index" title="Quản lý tài khoản">
                Xin chào, @UserManager.GetUserName(User)!
            </a>
        </li>

        <!-- Link theo role -->
        @if (roles.Contains("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"
                   asp-area="Admin"
                   asp-controller="NguoiDan"
                   asp-action="Index">
                    Trang quản trị
                </a>
            </li>
        }
        else if (roles.Contains("Employee"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"
                   asp-area="Admin"
                   asp-controller="NguoiDan"
                   asp-action="Index">
                    Trang nhân viên
                </a>
            </li>
        }
        else if (roles.Contains("User"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"
                   asp-area="User"
                   asp-controller="ThongTinCaNhan"
                   asp-action="Index">
                    Trang người dùng
                </a>
            </li>
        }


        <!-- Đăng xuất -->
        <li class="nav-item">
            <form id="logoutForm" class="form-inline"
                  asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit"
                        class="nav-link btn btn-link text-dark border-0">
                    Đăng xuất
                </button>
            </form>
        </li>
    }
    else
    {
        <!-- Đăng ký -->
        <li class="nav-item">
            <a class="nav-link text-dark" id="register"
               asp-area="Identity" asp-page="/Account/Register">
                Đăng ký
            </a>
        </li>

        <!-- Đăng nhập -->
        <li class="nav-item">
            <a class="nav-link text-dark" id="login"
               asp-area="Identity" asp-page="/Account/Login">
                Đăng nhập
            </a>
        </li>
    }
</ul>
