@if (Model.DsXaMoi.Count > 1)
{
    <div class="alert alert-warning">

        Xã cũ này được sáp nhập vào nhiều xã mới:

    </div>
}

<ul class="list-group">

    @foreach (var item in Model.DsXaMoi)
    {
        <li class="list-group-item">

            <div>

                <strong class="text-success">
                    @item.TenXaMoi
                </strong>

            </div>

            <div>
                Tỉnh:
                @item.TenTinhMoi
            </div>

            @if (!string.IsNullOrEmpty(item.GhiChu))
            {
                <div class="text-danger">

                    Ghi chú:
                    @item.GhiChu

                </div>
            }

        </li>
    }

</ul>